#nameColour {
  color: #b2b2b2;
}

#aprilTitle {
  border-top: 1px solid black;
}

#mainNav {
  list-style: none;
  font-size: 2rem;
}

#mainNav a {
    color: #000;
}

#mainNav a:hover {
  background-color: #b2b2b2;
}