/*****************
GENERAL
*****************/

#nameColour {
  color: #b2b2b2;
}

#aprilTitle {
  border-top: 1px solid black;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #b2b2b2;
}

/*****************
IMAGES
*****************/

.img-responsive {
  height: 100%;
  width: 100%;
}

.imageContainer {
  margin-top: 2rem;
  width: 90%;
  height: 90%; 
}
/*****************
NAV BAR
*****************/

#mainNav {
  display: inline-block;
  margin-top: 1rem;
  font-size: 2rem;
}

#mainNav a {
  color: #000;
}

#mainNav a:hover {
  text-decoration: none;
  color: #b2b2b2;
}

/*****************
FOOTER
*****************/

#navFooter {
  height: 20px;
}

#footerContent {
  text-align: center;
  font-style: helvetica, sans-serif;
  font-size: 1.2em;
}

#footerContent li {
  list-style: none;
  display: inline-block;
  padding: 1rem;
}

.fa {
  color: black;
}

.fa:hover {
  color:#808080;
}



