#nameColour {
  color: #b2b2b2;
}

#aprilTitle {
  border-top: 1px solid black;
}

/*****************
NAV BAR
*****************/

#mainNav {
  display: inline-block;
  margin-top: 1rem;
  font-size: 2rem;
}

#mainNav a {
  color: #000;
}

#mainNav a:hover {
  text-decoration: none;
  color: #b2b2b2;
}

/*****************
FOOTER
*****************/

#navFooter {
  height: 20px;
}

#footerContent {
  text-align: center;
}

#footerContent li {
  list-style: none;
  display: inline-block;
  padding-top: 1.5rem;
}

/*****************
CAROUSEL
*****************/

.slickCarousel {
  margin-top: 2rem;
  height: 250px;
}



